<!DOCTYPE html>
<html lang="digital">
<head>
    <meta charset="UTF-8">
    <title>Воплоти мечту в реальность!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/dobro.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="link-secondary" v-if="!token" v-on:click="showRegistration" href="#">Регистрация</a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="/">Здесь сбываются мечты</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="link-secondary" href="#" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                             viewbox="0 0 24 24"><title>Поиск</title>
                            <circle cx="10.5" cy="10.5" r="7.5"></circle>
                            <path d="M21 21l-5.2-5.2"></path>
                        </svg>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" v-if="!token" href="/login.html">Войти</a>
                    <a class="btn btn-sm btn-outline-secondary" v-if="token" href="#"
                       v-on:click="actionLogout">Выйти</a>
                    <a class="btn btn-sm btn-outline-secondary" v-if="token" href="/profile.html">Ваш профиль</a>
                </div>
            </div>
        </header>
        <main-menu></main-menu>
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Нет ничего невозможного</h1>
                <p class="lead my-3">Оставь заявку и о ней узнают тысячи спонсоров, волонтёров, тех, кто способен
                    сделать
                    тебя счастливее.</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Рассказать о мечте...</a></p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Скоро</strong>
                        <h3 class="mb-0">Хочу играть в футбол</h3>
                        <div class="mb-1 text-muted">12 ноября</div>
                        <p class="card-text mb-auto">Мы получили много заявок от воспитанников ДД №8 и организовали для
                            них
                            приезд Романа.</p>
                        <a href="#" class="stretched-link">Продолжить чтение</a>
                    </div>
                    <div class="col-auto d-none d-lg-block"
                         style='background-image: url("upload_images/events/shirokov.jpg");
                     width: 200px;
                     background-size: cover;'>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger">Сбор заявок</strong>
                        <h3 class="mb-0">Дотянуться до звезды</h3>
                        <div class="mb-1 text-muted">ДД № 15</div>
                        <p class="mb-auto">Воспитанники детского дома №15 хотят пригласить звезду на день рождение
                            своего ДД
                            - Моргенште́рна.</p>
                        <a href="#" class="stretched-link">Продолжить чтение</a>
                    </div>
                    <div class="col-auto d-none d-lg-block"
                         style='background-image: url("upload_images/events/mong.jpg");
                     width: 200px;
                     background-size: cover;'>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 font-italic border-bottom">
                    Лента заявок
                </h3>

                <div class="blog-post">
                    <h2 class="blog-post-title">Дотянуться до звезды</h2>
                    <p class="blog-post-meta">ДД № 15 <a href="#">1000 голосов</a></p>

                    <p>Воспитанники детского дома №15 хотят пригласить звезду на день рождение своего ДД -
                        Моргенште́рна.</p>
                    <hr>
                    <p>Много хорошего текста.</p>
                    <blockquote>
                        <p>Мы сделаем это!</p>
                    </blockquote>

                </div><!-- /.blog-post -->


                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Предыдущие</a>
                    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1"
                       aria-disabled="true">Следующие</a>
                </nav>

            </div>

            <aside class="col-md-4">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">О портале</h4>
                    <p class="mb-0">Созданный по заказу Министерства информационных технологий и связи Нижегородской
                        области.</p>
                </div>

                <div class="p-4">
                    <calendar3></calendar3>
                </div>
            </aside>

        </div><!-- /.row -->

    </main><!-- /.container -->
    <div-footer></div-footer>
    <modal-registration @callback="isReg" ref="reg"></modal-registration>
</div>
<script src="js/reg.js"></script>
<script src="js/components/footer.js"></script>
<script src="js/components/calendar.js"></script>
<script src="js/main.js"></script>

</body>
</html>