<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/dobro.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark" href="/">Здесь сбываются мечты</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                </div>
            </div>
        </header>
        <main-menu></main-menu>
    </div>
    <main class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="pb-4 mb-4 font-italic border-bottom">
                    На портале вы зарегистрированы как: <b>{{ profile.role }}</b>
                </h1>

                <div class="blog-post">
                    <h3 class="blog-post-title">Данные для входа:</h3>
                    <p>Ваш адрес электронной почты: <b>{{ profile.email }}</b></p>
                    <p>Ваш имя пользователя: <b>{{ profile.username }}</b></p>
                    <hr>
                    <h3 class="blog-post-title">Ваши персональные данные:</h3>
                    <p>Ваше имя: <b>{{ profile.firstname }}</b></p>
                    <p>Ваша фамилия: <b>{{ profile.lastname }}</b></p>
                    <p>Кратко о себе:</p>
                    <p>
                        <input type="text" id="annotation" v-model="profile.annotation" name="annotation"
                               class="form-control" placeholder="Кратко о себе">
                    </p>
                    <p>Полно о себе:</p>
                    <p>
                        <textarea v-model="profile.description" id="description" name="description"
                                  class="form-control"></textarea>
                    </p>
                </div>
            </div>

            <aside class="col-md-4">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="font-italic">О портале</h4>
                    <p class="mb-0">Созданный по заказу Министерства информационных технологий и связи Нижегородской
                        области.</p>
                </div>

                <div class="p-4">
                    <calendar3></calendar3>
                </div>
            </aside>

        </div><!-- /.row -->

    </main><!-- /.container -->
    <div-footer></div-footer>
</div>
</body>
<script src="js/components/footer.js"></script>
<script src="js/components/calendar.js"></script>
<script src="js/profile.js"></script>
</html>